body{
    font-family: sans-serif;
}

.header .menu a{
    display: inline-block;
    padding: 15px;
}

.header .menu a:hover{
   color: rgb(56, 167, 56);
}

button {
    padding: 8px 15px;
    background-color: #67c58b;
    border-radius: 2px;
    border: 0;
    font-weight: 500;
}